*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--orangee: rgb(239, 123, 0);
	--greyy: rgb(233, 233, 233);
	--accent: rgb(255, 255, 255);
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
	max-width: 1090px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.logo {
	width: 80px;
	height: 80px;
}

.header_left {
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ka {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.kol {
	font-size: 30px;
}

.shin {
	font-size: 20px;
	color: var(--orangee);
}

.header_right {
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text_ {
	font-size: 30px;
}

div.ka_ i.bx {
	font-size: 30px;
	color: var(--orangee);
}

.ka_ {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 20px;
}

.container_ {
	width: 100%;
	max-width: 1050px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	background-color: var(--greyy);
}

.menu_ {
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;
	align-items: center;
	width: 100%;
}

.container_ span {
	width: calc(100% / 7);
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container_ span:hover {
	animation: 0.3s hi forwards;
}

div.container_ span:first-child:hover {
	animation: 0.3s hi forwards;
	border-radius: 20px 0 0 20px;
}

div.container_ span:last-child:hover {
	animation: 0.3s hi forwards;
	border-radius: 0 20px 20px 0;
}

@keyframes hi {
	100% {
		color: var(--accent);
		background-color: var(--orangee);
	}
}

div.container_ span:first-child {
	border-radius: 20px 0 0 20px;
}

div.container_ span:last-child {
	border-radius: 0 20px 20px 0;
}

.accent {
	background-color: var(--orangee);
	color: var(--accent);
}

span.menu_ {
	pointer-events: none;
}
span.icon {
	pointer-events: none;
	display: none;
}

@media (max-width: 750px) {
	span.menu_ {
		display: none;
	}
	span.icon {
		display: flex;
	}
}

@media (max-width: 440px) {
	.ka {
		display: none;
	}
}

/* .dop {
	width: 100%;
	max-width: 1050px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.container_karusel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.karusel span.content img {
	width: 100%;
	height: 100%;
	object-fit: contain;
} */

.slider_container {
	position: relative;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
}

.slider {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.prev-button,
.next-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: none;
	font-size: 24px;
	color: black;
	cursor: pointer;
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;
}
