
*,html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

:root{
	--orangee: rgb(239,123,0);
	--greyy: rgb(233,233,233);
}

body{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header{
	width: 100%; 
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	width: 100%;
	max-width: 1090px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}


.logo{
	width: 80px;
	height: 80px;
}

.header_left{
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ka{
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.kol{
	font-size: 30px;
}

.shin{
	font-size: 20px;
	color: var(--orangee);
}

.header_right{
	display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text_{
	font-size: 30px;
}

.bx{
	font-size: 30px;
	color: var(--orangee);
}

.ka_{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}


nav{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 20px;
}

.container_{
	width: 100%;
	max-width: 1050px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
	background-color: var(--greyy);
}


.menu_{
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.nav{
	display: flex;
	align-items: center;
	width: 100%;
} 

span.menu__:hover{
	animation: 0.3s hi forwards;
}

span.menu_{
	width: calc(100% / 7);
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
}

span.first_:first-child:hover{
	animation: 0.3s hi forwards;
	border-radius: 20px 0 0 20px;
	
}

span.last_:last-child:hover{
	animation: 0.3s hi forwards;
	border-radius: 0 20px 20px 0;
}

@keyframes hi{
	100% {
		color: white;
		background-color: var(--orangee);
	}
}
