*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
html {
	width: 100%;
	height: 100%;
}

:root {
	--font-size: calc(1rem + 2 * (100vw - 320px) / 780);
	--white-color: rgb(255, 255, 255);
	--accent: rgb(240, 123, 0);
	--grey: rgb(233, 233, 233);
	--margins-edge: 20px;
	--border-radius: 15px;
}

body {
	font-size: var(--font-size);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	will-change: transform;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(var(--font-size) * 15);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	top: 0;
}
header .headSup {
	height: 100%;
	width: 100%;
	max-width: calc(var(--font-size) * 80);
	padding: 0 var(--margins-edge);
	display: flex;
	flex-direction: column;
}
header .headSup .topLine {
	height: calc(var(--font-size) * 5);
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
}
header .headSup .topLine .logo {
	display: flex;
	align-items: center;
}
header .headSup .topLine .logo .logoText {
	display: flex;
	flex-direction: column;
}
header .headSup .topLine .logo .logoText span:nth-child(1) {
	font-size: calc(var(--font-size) * 1.5);
}
header .headSup .topLine .logo .logoText .bot {
	color: var(--accent);
}
header .headSup .topLine .logo img {
	width: calc(var(--font-size) * 3);
	margin: 0 10px 0 0;
}
header .headSup .topLine .contact {
	display: flex;
	align-items: center;
}
header .headSup .botLne {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: var(--grey);
	border-radius: 15px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
header .headSup .botLne span {
	height: 100%;
	width: calc(100% / 7);
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	cursor: pointer;
}
header .headSup .botLne .accent {
	background: var(--accent);
	color: var(--white-color);
	pointer-events: none;
}
header .headSup .botLne span:first-child.accent {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
header .headSup .botLne span:last-child.accent {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
header .headSup .botLne span:hover {
	animation: 0.3s hoverHeder forwards;
}
header .headSup .botLne span:first-child:hover {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
header .headSup .botLne span:last-child:hover {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
header .headSup .botLne span .word {
	pointer-events: none;
}
header .headSup .botLne span .icon {
	pointer-events: none;
	display: none;
}

section#slider {
	position: relative;
	width: 100%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section#slider .content {
	position: relative;
	width: 100%;
	max-width: calc(var(--font-size) * 80);
	height: 100%;
	display: flex;
	padding: 0 var(--margins-edge);
}
section#slider .content .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 0px;
	height: 0px;
	pointer-events: none;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: 0.3s;
}
section#slider .content .slide.active {
	width: 100%;
	height: 100%;
	opacity: 1;
	animation: 5s sliderBaunts infinite ease-in-out;
}
section#slider .content .slide img {
	position: absolute;
	top: calc(var(--font-size) * 2);
	left: calc(var(--font-size) * 6);
	width: calc(var(--font-size) * 30);
}
section#slider .content .slide .text {
	position: absolute;
	top: calc(50% - calc(var(--font-size) * 1.2) * 4);
	left: calc(55% - calc(var(--font-size) * 1.2));
	z-index: 95;
	max-width: min-content;
	white-space: wrap;
	font-size: calc(var(--font-size) * 1.2);
	text-shadow: 0px 0px 10px #ffffff;
	text-align: center;
	margin: 0 auto;
}
section#slider .content .slide .text p {
	font-size: calc(var(--font-size) * 3);
	white-space: nowrap;
}
section#slider .content #btn {
	position: absolute;
	z-index: 100;
	top: 50%;
	font-size: calc(var(--font-size) * 3);
	cursor: pointer;
	transition: 0.3s;
}
section#slider .content #btn i {
	pointer-events: none;
}
section#slider .content #btn:hover {
	transform: scale(1.5);
}
section#slider .content #btn:active {
	transform: scale(2.5);
}
section#slider .content #btn.left {
	left: calc(0px + var(--margins-edge));
}
section#slider .content #btn.right {
	right: calc(0px + var(--margins-edge));
}

section#information {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
section#information .mainText {
	font-size: calc(var(--font-size) * 3);
	margin-bottom: calc(var(--font-size) * 3);
	text-wrap: nowrap;
}
section#information .info {
	margin: 0;
	padding: 0 var(--border-radius);
	width: calc(var(--font-size) * 80);
	max-width: 100%;
	color: rgba(0, 0, 0, 0.5);
}
section#information .info p {
	margin: calc(var(--font-size) * 3) 0 calc(var(--font-size) * 1) 0;
	font-size: calc(var(--font-size) * 1.5);
	color: rgba(0, 0, 0, 0.7);
}

section#information .info b {
	color: rgba(0, 0, 0, 0.6);
}

section#information .info ul {
	margin: calc(var(--font-size) * 0.5) 0;
	padding: 0 var(--border-radius);
}

section#information .info ul li {
	margin: calc(var(--font-size) * 0.5) 0;
}

section.contactHead{
	width: 100%;
	height: calc(var(--font-size) * 3);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(var(--font-size) * 2);
	
}

section.contactInfo {
	padding: 0 var(--margins-edge);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}



















footer {
	margin-top: calc(var(--font-size));
	height: calc(var(--font-size) * 1);
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer img {
	height: calc(var(--font-size) * 10);
}

@keyframes hoverHeder {
	100% {
		background: var(--accent);
		color: var(--white-color);
	}
}

@media (orientation: landscape) {
	section#information {
		margin-top: calc(var(--font-size) * 10);
	}
}
@media (max-width: 1050px) {
	section#slider .content .slide img {
		display: none;
	}
	section#slider .content .slide .text {
		position: static;
	}
}
@media (max-width: 750px) {
	header .headSup .botLne span .word {
		display: none;
	}
	header .headSup .botLne span .icon {
		display: flex;
	}
	section#slider .content .slide .text {
		left: calc(50% - calc(var(--font-size) * 1.2) * 5.5);
	}
	section#slider .content .slide .text p {
		white-space: wrap;
		text-align: center;
	}
}
@media (max-width: 440px) {
	header .headSup .topLine .logo .logoText {
		display: none;
	}
}
