@font-face {
	font-family: 'font-fase';
	src: url(../ttf/fonts.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--index: calc(1vw + 1vh);
	--darkText: rgb(255, 255, 255);
	--darkBg: rgb(0, 0, 0);
	--darkBgCard: rgba(255, 255, 255, 0.1);
	--lightBgCard: rgba(0, 0, 0, 0.1);
	--fontSize: 30px;
	--activeBtn: rgb(34, 193, 207);
	--hoverBtn: rgb(211, 79, 109);
	--textShadowSet: 0 0 20px var(--hoverBtn);
}

.content,
header,
section[data-name='home'] > *,
section#about > * {
	will-change: transform;
}

body {
	font-family: 'font-fase';
	background: var(--darkBg);
	color: var(--darkText);
	transition: 0.4s;
	overflow-y: scroll;
}
body.light {
	background: var(--darkText);
	color: var(--darkBg);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;

	width: 100%;
	height: calc(var(--index) * 3);
	max-height: 80px;

	color: inherit;
	font-size: calc(var(--index) * 0.8);
	border-bottom: 2px solid var(--darkBgCard);
	background: var(--darkBg);

	display: flex;
	align-items: center;
	justify-content: space-between;
}
body.light header {
	background: var(--darkText);
}
body.light header {
	border-bottom: 2px solid var(--lightBgCard);
}
header div.logo {
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .navBar {
	width: 60%;
	display: flex;
	justify-content: flex-end;
}
header .navBar .navBar__elem {
	margin: 0 calc(var(--index));
	display: flex;
	transition: color 0.3s;
}
header .navBar .navBar__elem i {
	pointer-events: none;
}
header .navBar .navBar__elem div.text {
	pointer-events: none;
	transition: width 0.3s;
}
header .navBar .navBar__elem:hover {
	color: var(--hoverBtn);
}
header .navBar .navBar__elem div {
	height: 100%;
	width: fit-content;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}
header .navBar .navBar__elem div.icon {
	margin-right: calc(var(--index) * 0.2);
}
header div.settings {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header div.settings div#thems {
	display: flex;
	width: calc(var(--index));
	overflow: hidden;
}
body header div.settings div#thems div {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	overflow: hidden;
	cursor: pointer;
	transition: color 0.3s;
}
body header div.settings div#thems div:hover {
	color: var(--hoverBtn);
}
body header div.settings div#thems div i {
	pointer-events: none;
}
body.dark header div.settings div#thems div.moon {
	width: 0;
}
body.light header div.settings div#thems div.sun {
	width: 0;
}

section#home {
	width: 100%;
	height: 95vh;
}
section#home div.text {
	position: absolute;
	left: calc(var(--index) * 2);
	top: calc(var(--index) * 10);
	z-index: 1;
	width: fit-content;
	font-size: calc(var(--index) * 6);
	display: flex;
	align-items: center;
	flex-direction: column;
	white-space: nowrap;
}
body.light section#home div.text {
	text-shadow: 0 0 4px var(--darkText);
}
section#home img.hero {
	position: absolute;
	top: calc(var(--index) * 4);
	right: calc(var(--index) * 2);
	width: calc(var(--index) * 20);
	pointer-events: none;
}
body.light section#home img.hero {
	filter: hue-rotate(80deg);
}

section#about {
	margin-top: calc(var(--index) * 10);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
section#about div.info {
	position: absolute;
	width: 100%;
	height: fit-content;
	font-size: calc(var(--index) * 3);
}
section#about div {
	z-index: 1;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
section#about div.about__left {
	padding-top: calc(var(--index) * 12);
	width: 100%;
}
section#about div.about__right {
	padding-top: calc(var(--index) * 8);
	width: 100%;
}
section#about div .about__item {
	margin-top: calc(var(--index) * 4);
	font-size: calc(var(--index) * 6);
}

section#portfolio {
	margin-top: calc(var(--index) * 30);
	width: 100%;
	display: flex;
	flex-direction: column;
}
section#portfolio div.info,
section#contact div.info {
	margin-inline: auto;

	height: calc(var(--index) * 5);
	width: fit-content;

	font-size: calc(var(--index) * 3);

	display: flex;
	align-items: center;
	justify-content: center;
}
section#portfolio div.cards {
	margin-top: calc(var(--index) * 8);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section#portfolio div.cards div.card {
	min-width: calc(var(--index) * 11);
	width: calc(var(--index) * 11);
	height: calc(var(--index) * 15);
	border-radius: var(--index);
	background: var(--darkBgCard);
	box-shadow: 0 0 10px 1px var(--darkText);
}
body.light section#portfolio div.cards div.card {
	background: var(--lightBgCard);
	box-shadow: 0 0 10px 1px var(--darkBg);
}
section#portfolio div.cards div.card a {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	color: var(--darkBg);
	transition: color 0.3s;
}
body.light section#portfolio div.cards div.card a {
	color: var(--darkText);
}
section#portfolio div.cards div.card a:hover {
	color: var(--hoverBtn);
}
section#portfolio div.cards div.card a img {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(var(--index) * 11);
	height: calc(var(--index) * 11);
	border-radius: 20px 20px 0 0;
	pointer-events: none;
}
section#portfolio div.cards div.card a .section {
	position: absolute;
	bottom: 0;
	left: 0;

	width: calc(var(--index) * 11);
	height: calc(var(--index) * 5);

	padding: 0 0 calc(var(--index) * 0.75) calc(var(--index) * 0.75);
	font-size: calc(var(--index) * 2);
	background: var(--darkText);

	border-radius: 20px;

	display: flex;
	align-items: end;
}

body.light section#portfolio div.cards div.card a .section {
	background: var(--darkBg);
}

section#portfolio div.cards div.card a div.btn {
	position: absolute;
	right: calc(var(--index) * 0.75);
	bottom: calc(var(--index) * 3.5);
	height: calc(var(--index) * 3);
	width: calc(var(--index) * 3);
	background: var(--darkText);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(var(--index) * 2);
	transition: border 0.3s;
}
body.light section#portfolio div.cards div.card a div.btn {
	background: var(--darkBg);
}
section#portfolio div.cards div.card a div.btn i {
	animation: clickMeI 1s infinite;
}

section#contact {
	margin-top: calc(var(--index) * 30);
	width: 100%;
	padding: calc(var(--index) * 5) 0;
}

section#contact div.found {
	position: relative;
	z-index: 3;
	margin-top: calc(var(--index) * 8);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
section#contact div.found div {
	width: fit-content;
	height: fit-content;
	font-size: calc(var(--index) * 1.5);
}
section#contact div.found div a {
	transition: color 0.3s;
}
section#contact div.found div a:hover {
	color: var(--hoverBtn);
}

section#footer {
	height: calc(var(--index));
}

@keyframes clickMeI {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.7);
	}
}

@media screen and (max-width: 800px) {
	header {
		font-size: calc(var(--index) * 1.2);
		justify-content: space-around;
	}
	header div.logo {
		width: fit-content;
	}
	header div.navBar {
		justify-content: center;
	}
	header div.navBar .navBar__elem div.text {
		width: 0px;
		overflow: hidden;
	}
	header div.settings {
		width: fit-content;
	}
	section#about {
		flex-direction: column;
	}
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	filter: blur(1px);
}

a {
	height: 100%;
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	width: 4px;
	border: 5px solid transparent;
	background-color: rgb(64, 64, 64);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: gray;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:end:increment {
	display: none;
}
